@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    background-color: #FAFAFA;
    font-family: var(--font-sans);
    color: var(--color-gray-900);
    overflow: hidden;
    margin: 0;
  }
}

.pie-chart {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#F97316 0% 88%, #3F3F46 88% 100%);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.stair {
  transition: transform 0.3s ease;
  cursor: default;
}

.stair:hover {
  transform: scale(1.02) translateY(-10px);
  z-index: 20;
  position: relative;
}